<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
 PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
 
 	<servlet>
		<servlet-name>wado</servlet-name>
		<display-name>WADO - Web Access to DICOM Persistent Objects</display-name>
		<servlet-class>org.dcm4chex.wado.web.WADOServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>oviyam</servlet-name>		
		<servlet-class>in.raster.oviyam.servlet.Validator</servlet-class>
	</servlet>	
	
	<servlet>
		<servlet-name>DcmImage</servlet-name>		
		<servlet-class>in.raster.oviyam.servlet.DcmImage</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>update</servlet-name>		
		<servlet-class>in.raster.oviyam.servlet.UpdateServerConfig</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>serverconfig</servlet-name>		
		<servlet-class>in.raster.oviyam.servlet.ServerConfig</servlet-class>
	</servlet>	
	
	<servlet>
		<servlet-name>DICOMDataset</servlet-name>		
		<servlet-class>in.raster.oviyam.servlet.DICOMDataset</servlet-class>
	</servlet>	
	
	<servlet>
		<servlet-name>DcmWindowLevel</servlet-name>		
		<servlet-class>in.raster.oviyam.servlet.DcmWindowLevel</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>DcmAttributeRetrieve</servlet-name>		
		<servlet-class>in.raster.oviyam.servlet.DcmAttributeRetrieve</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>MultiFrames</servlet-name>		
		<servlet-class>in.raster.oviyam.servlet.MultiFrames</servlet-class>
	</servlet>	
	
	<servlet-mapping>
		<servlet-name>MultiFrames</servlet-name>
		<url-pattern>/MFrames</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DcmWindowLevel</servlet-name>
		<url-pattern>/DcmWL</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>DcmAttributeRetrieve</servlet-name>
		<url-pattern>/DcmAttr</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>wado</servlet-name>
		<url-pattern>/wado</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>oviyam</servlet-name>
		<url-pattern>/oviyam</url-pattern>
	</servlet-mapping>
		
	<servlet-mapping>
		<servlet-name>DcmImage</servlet-name>
		<url-pattern>/Image.do</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>update</servlet-name>
		<url-pattern>/update.do</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>serverconfig</servlet-name>
		<url-pattern>/serverconfig.do</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>DICOMDataset</servlet-name>
		<url-pattern>/DICOMDataset.do</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    
    <login-config>
    	<auth-method>FORM</auth-method>
    	<form-login-config>
    	<form-login-page>/login.jsp</form-login-page>
    	<form-error-page>/error.jsp</form-error-page>
    	</form-login-config>
    </login-config>

</web-app>

