@CHARSET "ISO-8859-1";

	body {
		margin: 0;
		padding: 0;
		border: 0;
		overflow: hidden;
		height: 100%; 
		max-height: 100%; 
		background:#232323;
		font-family: Helvetica,  Arial;
	}	

	#desktop{
		position:absolute;		
		width:100%;
		height:100%;		
	}
	
	table.searchTable{		
		color:#FFFFFF;
	}	
	
	.studyInfo{
		color:#FFFFFF;
		font-size:14px;
		background:#616161;
		cursor:pointer;		
	}
	
	.seriesDetails{
		color:#FFCC00;
	}
	
	.studyInfo:hover{
		color:#000000;
		background:#d9d9d9;	
	}
	
	.seriesinfos{
		background:#232323;
		color:#FFFFFF;		
		cursor:pointer;
	}
	
	.seriesinfos:hover{
		color:#000000;
		background:#FFFFFF;		
	}
	
	.seriesHolder{
		height:auto;
		width:100%;
		z-index:0;
	}
		
	/*************************headerArea*******************************/
	
	#headerArea{
		position:relative;
		width:100%;
		height:50px;	
	}
	
	#pageHeader{			
		height: 57px;
		background: transparent url(../images/header.gif) top center repeat-x;	
		font-size: 13px;
		overflow: hidden;
		border-top: 1px solid #343434;
	}
		
	#searchButton {
		cursor: pointer ;
		position: absolute ;
		background:transparent;
		border:0px;
		left:5%;
		top:16px;
		width:124px;
		font-weight: bold;		
		height:30px;
		padding: 7px 3px 12px 4px;
		margin-left: 6px;
		text-indent: -14px;
		background: transparent url('../images/buttons/search.gif') ;
		right: -6px;
		visibility:hidden;
	}
	
	#patientDisName {
	    font-family: Helvetica,  Arial;
	 	font-weight: normal;
	 	color: #ffffff;
	 	text-shadow: black 0px -1px 1px;
	 	width:400px;
	 	left:40%;	 	
	 	font-size: 20px;
	 	height: 50px;
	 	top:16px;
	 	white-space: nowrap;
	 	overflow: hidden;
	 	margin-bottom: 15px;
	 	position: absolute;
	}
		
	/*#searchButton:active{
		background-position:0px -80px;
	}*/
	
	#hideButton {
		cursor: pointer ;
		position:relative;
		background:transparent;
		border:0px;
		left:83%;
		top:16px;
		font-weight: bold;
		
		height:30px;
		width:140px;
		padding: 7px 3px 12px 4px;
		margin-left: 6px;
		text-indent: -14px;
		background: transparent url('../images/buttons/show_tools.gif') no-repeat scroll 0px 0px;
		right: -6px;
	}
	
	/**********************************toolBar********************************/
	
	#toolBar {
		position: absolute;
		height: 50px;
		top:57px;
		text-align: left;		
		overflow: hidden;
		background: transparent url('../images/icons/tb_back.png') repeat-x scroll top left;
		width:100%;
		border-bottom: 1px solid #2e2e2e;
		z-index: 1000;	
		visibility:hidden;
	}
	
	#toolBarContainer {
		position: absolute;
		top: 4px;
		left:60%;
		margin-left:-300px;
		text-align: center;
		width: 100%;
	}
	
	.toolBarButton {
		float: left;
		text-align: center;
		width:70px;
		height:50px;
		margin: 0px 10px;
		margin-top: 0px;
		cursor: pointer; /* hand-shaped cursor */		
		color: #616161;
		font-size:11px;
		font-weight: bold;
		text-shadow: #111111 0px -1px 1px;		
		overflow: visible;
		background: transparent;
		background-position: center 0px ;
		background-repeat: no-repeat;
	}
	
	.toolBarButton:hover{
		color:#616161;
	}
	
	.toolBarText {
		vertical-align: bottom;
		padding-top: 30px;	
	}
	
	#infoButton{
		background-image:url('../images/icons/i_off.png');
	}
	
	#infoButton:hover{
	
		background-image:url('../images/icons/i_on.png');
		color:#FFFFFF;
	}
	
	#configButton{
	
		background-image:url('../images/icons/icn_settings_off.png');
	}
	
	#configButton:hover{
	
		background-image:url('../images/icons/icn_settings_on.png');
		color:#FFFFFF;
	}
	
    #wcButton {
        background-image: url('../images/icons/icn_bricon_off.png');
	}

    #wcButton:hover {
        background-image: url('../images/icons/icn_bricon_on.png');
		color: #FFFFFF;
	}

    #presetButton {
        background-image: url('../images/icons/icn_bricon_off.png');
	}

    #presetButton:hover {
        background-image: url('../images/icons/icn_bricon_on.png');
		color: #FFFFFF;
	}

	#resetButton {
		background-image:url('../images/icons/icn_reset_off.png');
	}
	
	#resetButton:hover {
		background-image:url('../images/icons/icn_reset_on.png');
		color:#FFFFFF;
	}
	
	#moveButton {
		background-image:url('../images/icons/icn_fit_off.png');
	}
	
	#moveButton:hover {
		background-image:url('../images/icons/icn_fit_on.png');
		color:#FFFFFF;
	}
	
	#zoomButton {
		background-image:url(../images/icons/icn_zoom_off.PNG);
	}
	
	#zoomButton:hover {
		background-image:url(../images/icons/icn_zoom_on.PNG);
		color:#FFFFFF;
	}
	
	#zoomInButton {
		visibility:hidden;
		background-image:url('../images/icons/icn_zoom_plus_off.png');
	}
	#zoomInButton:hover {
		background-image:url('../images/icons/icn_zoom_plus_on.png');
		color:#FFFFFF;
	}
	
	#zoomOutButton {
		visibility:hidden;
		background-image:url('../images/icons/icn_zoom_minus_off.png');
	}
	
	#zoomOutButton:hover {
		background-image:url('../images/icons/icn_zoom_minus_on.png');
		color:#FFFFFF;
	}
	
	
	/******************************pageContents*****************************/	
	#workSpace{
		position:relative;
		height:auto;
		width:100%;
		background:transparent;
	}
	
	#pageContents{
		position:relative;
		height:100%;
		width:100%;
		background:transparent;
	}
	
	#patientDiv{
		position: fixed; 
		top: 57px;
		left: 0px; /*Set left value to WidthOfLeftFrameDiv*/
		right: 0px; /*Set right value to WidthOfRightFrameDiv*/
		bottom: 40px;
		overflow: auto;
		background:#000000;
		z-index:00;
		height:0px;
		visibility:hidden;
	}
	
	* html #patientDiv{ /*IE6 hack*/
		height: 100%; 
		width: 100%; 
		visibility:hidden;
	}

	#queryResult{
		width:100%;
		color:#FFFFFF;		
		font-size:14px;	
		border:0px;	
	}
	
	#queryHeader{
		
		color:#FFFFFF;		
		font-size:15px;
		font-weight:bold;		
	}

	#seriesPane{		
		position: absolute ;
		top: 57px; 
		left: 0; 
		width: 200px; /*Width of left frame div*/
		bottom:40px;
		overflow: auto; /*Disable scrollbars. Set to "scroll" to enable*/
		background-color:transparent ;		
		z-index:450;
	}
	
	#seriesDivider{
		position: absolute ;
		top: 57px;		
		left:200px;
		width: 5px; /*Width of left frame div*/
		bottom:40px;
		overflow: auto; /*Disable scrollbars. Set to "scroll" to enable*/
		background-color:#d9d9d9;
		cursor:pointer;	
		z-index:451;
	}
	
	#thumbDivider{
		position:absolute;	
		float:left;		
		width:5px;
		height:100%;
		cursor:pointer;
		bottom:0px;		
		overflow:auto;
		background:#d9d9d9;
		z-index:451;
	}
	
	#dividerImg{			
		position: relative;
		margin: 25% auto;
		margin-top: 25%;
		top:50%;		
	}

	#imagePane{
		position: fixed; 
		top: 57px;
		left: 200px; /*Set left value to WidthOfLeftFrameDiv*/
		right: 0px; /*Set right value to WidthOfRightFrameDiv*/
		bottom: 40px;
		overflow: hidden; 
		background:transparent;		
		z-index:450;
	}
	
	* html #imagePane{ /*IE6 hack*/
		height: 100%; 
		width: 100%;		
		z-index:450;
	}
	
	#left{
		position:absolute;	
		bottom:0px;				
		width:70%;		
		height:100%;	
	}
	
	.imageHolder{		
		text-align:center;
		margin:0;
		padding: 0;
		vertical-align: middle;
	}
	
	#thumbNails{
		position:absolute;				
		width:30%;		
		left:70%;		
		top:0px;
		bottom:0px;		
		overflow:auto;
		background-color:transparent ;
		z-index:450;
	}
	
	.dragme{
		position:relative;
		vertical-align: middle;
	}
	
	.shadow{
		font-family: Helvetica,  Arial;
		position:absolute;
		font-size:12px;
		color:#FFCC00;
		z-index:900;
	}
		
	#patStudyDesc{
		position:absolute;
		top:0px;
		width:100%;
		text-align:center;
		vertical-align:middle;
		font-size:16px;
	}
	
	#patSex{		
		top:0px;
		left:10px;
		font-size: 15px;
	}
	
	#patPhyName{		
		top:30px;
		left:10px;
		font-size: 15px;
	}
	
	#patBirthDate{
		top:0px;
		right:5px;
		font-size: 15px;
	}
	
	#patStudyDate{
		top:30px;
		right:5px;
		font-size: 15px;
	}
	
	#patModality{
		top:60px;
		right:5px;
		font-size: 15px;
	}
	
	#number{
		position:absolute;	
		width:100%;
		vertical-align:middle;
		text-align:center;				
		bottom:2px;	
		font-size: 15px;	
	}

	#windowLevel{
	    position:absolute;	
		width:100%;
		left: 15px;
		bottom:40px;
		font-size: 15px;
	}
	
	#SRContent {
		position:relative;
		left:5px;
		height:100%;
		overflow:auto;
		background-color:#FFFFFF;
		color:#000000;
	}

	#KOContent {
		position:relative;
		left:5px;
		height:100%;
		overflow:auto;
		background-color:#FFFFFF;
		color:#000000;
	}
		
	#imgTable{
		position:absolute;
		height:100%;
		width:100%;
	}	
	
	#thumbNailHolder{	
		position:absolute;	
		left:5%;
		width:95%;				
		height:100%;		
		overflow:auto;	
		z-index:450;	
	}
	
	.scale-item {
		position:relative;		
		float: left;
		margin: 5px;				
		color:#FFCC00;
		cursor: pointer; /* hand-shaped cursor */				
	}
		
	.imgNo{
		position:absolute;
		top:5px;
		left:5px;				
		font-size:12px;		
		color:#FFCC00;
		z-index:451;		
	}
	
	.scale-image {
		position:relative;		
		width:75px;
		border:2px solid transparent;
				
	}	
	
	a img{
		border: 0; 
	}
	
	a:hover img {
		border: 0px ;
	}
	
	/************************footerArea*************************************/
	
	#footerArea{
		position:fixed;
		position:fixed;
		min-width:100%;
		background:transparent url('../images/footer_highlight.png') repeat bottom center;
		height:40px;
		bottom:0px;
		overflow:hidden;
		font-family: Helvetica,  Arial;
	}
	
	#pageFooter{
		position:fixed;
		min-width:100%;
		background:transparent;
		height:40px;
		bottom:0px;
		overflow:hidden;	
	}
	

	#colorChooser{
		margin-top: 13px;
		position:relative;
		float:right;
	}
	
	
	#colorChooser div.label {
		
		margin-right: 6px;
		float: left;
		background: transparent;
		width: auto ! important;
		height: 20px;
		color: #FFFFFF;
		display: block;
		font-size: 12px;
		text-shadow: #111111 0px -1px 1px;
	}
		
	#colorChooser .backColor {
		float: left;
		
		height: 15px;
		width: 14px;
		display: block;
		margin-right: 6px;
		
		cursor: pointer;
		background-position: 0px -56px;
		background: transparent;
		background-repeat: no-repeat;
	}	
	
	#colorChooser #white {
		background-image: url('../images/icons/icn_white_backColor.png');		
	}
	
	#colorChooser #white:hover{
	 background-position:0px -37px;
	}
	
	#colorChooser #black {
		background-image: url('../images/icons/icn_black_backColor.png') ;		
	}
	
	#colorChooser #black:hover{
	 background-position:0px -37px;
	}
	
	#colorChooser #dkgrey {
		background-image: url('../images/icons/icn_dkgrey_backColor.png') ;
		background-position: 0px -18px;
	}
	
	#colorChooser #dkgrey:hover{
	 background-position:0px -37px;
	}
	
	#colorChooser #ltgrey {
		background-image: url('../images/icons/icn_ltgrey_backColor.png');
	}
	
	#colorChooser #ltgrey:hover{
	 background-position:0px -37px;
	}
	
	
	/***********************************viewContols************************/
	#viewControls {
		position: relative;
		color: #616161;		
		float: left;		
		width:100%;
		margin-top: 13px;
		z-index: 8000;
		font-size: 12px;
		text-shadow:  #111111 0px -1px 1px;
		font-family: Helvetica,  Arial;
	}
	
	
	
	#viewControls .label {
		margin-top:-1px;
	}
	
	#viewControls .viewSwitcher {
		height: 14px;
		margin-right: 17px;
		float: left;
		cursor: pointer; /* hand-shaped cursor */		
		font-weight: bold;
	}	
	
	
	#viewControls #viewPatient {
		background: url(../images/icons/icn_list_0.gif) center left no-repeat;
		text-indent: 20px;
		visibility:hidden;
	}
	
	#viewControls #viewPatient:hover {
		background: url(../images/icons/icn_list_1.gif) center left no-repeat;
		text-indent: 20px;
		color:#FFFFFF;
	}
	
	#viewControls #viewSeries {
		background: url(../images/icons/icn_series_0.png) center left no-repeat;
		text-indent: 20px;
	}
	
	#viewControls #viewSeries:hover {
		background: url(../images/icons/icn_series_1.png) center left no-repeat;
		text-indent: 20px;
		color:#FFFFFF;
	}	
	#viewControls #gridView {
		background: url(../images/icons/icn_grid_0.gif) center left no-repeat;
		text-indent: 20px;
	}
	
	#viewControls #gridView:hover {
		background: url(../images/icons/icn_grid_1.gif) center left no-repeat;
		text-indent: 20px;
		color:#FFFFFF;
	}
	
	#viewControls #mosaicView {
		background: url(../images/icons/icn_mosaic_0.gif) center left no-repeat;
		text-indent: 20px;
	}
	
	#viewControls #mosaicView:hover {
		background: url(../images/icons/icn_mosaic_1.gif) center left no-repeat;
		text-indent: 20px;
		color:#FFFFFF;
	}
	
	#viewControls #cineLoop {
		text-indent: 20px;
		background: url(../images/icons/icn_play_0.png)  0px center no-repeat;
		float: left;
	}
	
	#viewControls #cineLoop:hover {
	
		text-indent: 20px;
		background: url(../images/icons/icn_play_1.png)  0px center no-repeat;
		float: left;
		color:#FFFFFF;
	}
	
	

	/**********************************loadingView****************************/
	
	#loadingView{
		position: absolute;
		top:0px;
		left:0px;
		height: 100%;
		width: 100%;
		text-align: center;
		visibility:hidden;
		z-index:10000;
	}
	#dataSet{
		position:fixed;
		top:10%;
		left:25%;			
		
		width:50%;
		height:80%;		
		visibility:hidden;
		z-index:10000;
		vertical-align:middle;
		background: #FFFFFF url('../images/bgimage.jpg') repeat-x scroll top left;
		
		
	}
	/*#ds{
		position:relative;
		top:0px;		
		height:90%;
		width:60%;	
		z-index:10000;
		vertical-align:middle;
		background: #FFFFFF url('../images/bgimage.jpg') repeat-x scroll top left;
		
		
	}*/
	
	#dsImageHolder{
	
	position:relative;
	width:80%;
	height:25%;
	
	}
	
	#dataSetImage{
		/*position:relative;
		width:165px;
		top:2px;
		left:2px;
		float:left;*/
		position:relative;
		top:10%;
		height:80%;		
		background:#000000;
		float:left;
	}
	
	#dataSetHolder{
		position:relative;
		width:80%;		
		height:75%;
		overflow:auto;
		background:#000000;	
	}
	
	.ds{
		font-weight:bold;
		
	}
	
	#spinnerDiv {
		position: relative;
		margin: 25% auto;
		margin-top: 25%;
		/*  top: -50px;*/
		height: 100px;
		text-align: center;
	}
	
	#spinnerDiv img {
		background: #232323 url(../images/overlay_spinner_bg.png) no-repeat scroll 0px 0px;
		width: 36px;
		height: 36px;
		opacity: .75;
	}
	
	.loadingText {
		margin-top: 5px;
		font-size: 15px;
		font-weight:bold;
		padding-left: .5em;
		color: #FFFFFF;
		/*  text-shadow: 0px 0px 0px black;*/
	}
	
	
	.dragme{
		position:relative;		
		border:1px solid #000;
	}
	
	
	/*************************otherPanels***************************/	
	.hiddenPanel{
		position:absolute;	
		z-index: 9999;
		top:0px;
		left:20%;
		width:60%;			
		overflow:hidden;
		height:auto;	
		
	}
	
	.back-div {	
		background:#616161;	
		padding: 0.2em;
    }   
    
    
    .front-div {
    	
    	text-align:left;
    	position:relative;    	
    	background:url('../images/panelbg1.jpg') repeat ;
    	margin: -1em 0 0em 0em;
    	padding: 1.5em;
    	height:100%;
    	color:#FFFFFF;
    	
    }
    
    
    #searchPane{
    	visibility:hidden;
    }

    
    .divider{
		position:relative;
		height:1px;
		width:90%;
		background:#232323;
		
	}
	
	.buttons {
		position: relative;
		top:15px;		
		width:90%;
		text-align:right;	
	}
	
	.text{
		width:120px;
	}
	
	
	.push{
		
		
		right:20px;
		left:20px;
		background:url('../images/buttonbg1.gif') no-repeat;
	}

	
	/* the div that holds the date picker calendar */
.dpDiv {
	}


/* the table (within the div) that holds the date picker calendar */
.dpTable {
	font-family: Helvetica,  Arial;
	font-size: 12px;
	text-align: center;
	color: #505050;
	background-color: #ece9d8;
	border: 1px solid #AAAAAA;
	}


/* a table row that holds date numbers (either blank or 1-31) */
.dpTR {
	}


/* the top table row that holds the month, year, and forward/backward buttons */
.dpTitleTR {
	}


/* the second table row, that holds the names of days of the week (Mo, Tu, We, etc.) */
.dpDayTR {
	}


/* the bottom table row, that has the "This Month" and "Close" buttons */
.dpTodayButtonTR {
	}


/* a table cell that holds a date number (either blank or 1-31) */
.dpTD {
	border: 1px solid #ece9d8;
	}


/* a table cell that holds a highlighted day (usually either today's date or the current date field value) */
.dpDayHighlightTD {
	background-color: #CCCCCC;
	border: 1px solid #AAAAAA;
	}


/* the date number table cell that the mouse pointer is currently over (you can use contrasting colors to make it apparent which cell is being hovered over) */
.dpTDHover {
	background-color: #aca998;
	border: 1px solid #888888;
	cursor: pointer;
	color: red;
	}


/* the table cell that holds the name of the month and the year */
.dpTitleTD {
	}


/* a table cell that holds one of the forward/backward buttons */
.dpButtonTD {
	}


/* the table cell that holds the "This Month" or "Close" button at the bottom */
.dpTodayButtonTD {
	}


/* a table cell that holds the names of days of the week (Mo, Tu, We, etc.) */
.dpDayTD {
	background-color: #CCCCCC;
	border: 1px solid #AAAAAA;
	color: white;
	}


/* additional style information for the text that indicates the month and year */
.dpTitleText {
	font-size: 12px;
	color: gray;
	font-weight: bold;
	}


/* additional style information for the cell that holds a highlighted day (usually either today's date or the current date field value) */ 
.dpDayHighlight {
	color: #4060ff;
	font-weight: bold;
	}


/* the forward/backward buttons at the top */
.dpButton {
	font-family: Helvetica,  Arial;
	font-size: 10px;
	color: gray;
	background: #d8e8ff;
	font-weight: bold;
	padding: 0px;
	}


/* the "This Month" and "Close" buttons at the bottom */
.dpTodayButton {
	font-family: Helvetica,  Arial;
	font-size: 10px;
	color: gray;
	background: #d8e8ff;
	font-weight: bold;
	}
	
	
	/* Scrollable Content Height */
.scrollContent {
position:relative;
 height:90%;

 overflow:auto;
}

.fixedHeader{
	background: transparent url(../images/chb.gif) top center repeat-x;
	cursor:pointer;
}	

.image{
	width:128px;
	cursor:pointer;
	background:url(../images/icons/filler_black.jpg);
}
